In [69]:
import csv
import pandas as pd

In [70]:
input_file_path = "./data/GeneratedInputData.csv"
output_file_path = "./data/GeneratedOutputData.csv"

In [71]:
df = pd.read_csv(input_file_path)

In [72]:
df.head()

            x           y  z
0  219.701846  416.761396  a
1  241.702208  414.055117  a
2  222.440340  379.401455  a
3  220.933814  425.006962  a
4  156.849731  396.904597  a

In [73]:
num = 401

In [74]:
total_row = df.shape[0]

In [75]:
sample_df = df.groupby('z').apply(lambda x: x.sample(frac=num / total_row))

In [76]:
sample_df.head()

                x           y  z
z
a 33   230.430446  351.044142  a
  88   274.816608  395.334309  a
  64   247.587425  395.306070  a
  121  302.710738  361.149559  a
  49   231.534942  336.494420  a

In [77]:
sample_df.shape[0]

401

In [78]:
sample_df.to_csv(output_file_path, index=False)